{% extends "base.html.twig" %}

{% block title %}Contact{% endblock %}

{% block body %}
 <div class="container mt-2">
 <h1 class="monTitre text-center mb-4">Formulaire de contact</h1>
    {{ form_start(form) }}
        <div class="my-custom-class-for-errors">
            {{ form_errors(form) }}
        </div>

        <div class="row justify-content-end">
          <div class="col-6">
            <div class="form-group row">
              <div class="col-2">
                  {{ form_label(form.firstName, " Prénom ") }}
              </div>
              <div class="col-8">
                  {{ form_widget(form.firstName, {'attr': {'class':'Prenom'} }) }}
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group row">
              <div class="col-2">
                  {{ form_label(form.lastName, " Nom ") }}
              </div>
              <div class="col-8" id="some-custom-id">
                  {{ form_widget(form.lastName) }}
              </div>
            </div>
          </div>
        </div>

        <div class="row justify-content-end">
          <div class="col-6">
            <div class="form-group row">
              <div class="col-2">
                  {{ form_label(form.email, " Email ") }}
              </div>
              <div class="col-8">
                  {{ form_widget(form.email, {'attr': {'class':'email'} }) }}
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group row">
              <div class="col-2">
                  {{ form_label(form.phone, " Téléphone ") }}
              </div>
              <div class="col-8" id="some-custom-id">
                  {{ form_widget(form.phone) }}
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-1">
            {{ form_label(form.address, " Adresse") }}
          </div>
          <div class="col-10" id="some-custom-id">
            {{ form_widget(form.address) }}
          </div>
        </div>

        <div class="row justify-content-end">
          <div class="col-3">
            <div class="form-group row">
              <div class="col-4">
                  {{ form_label(form.city, " Ville ") }}
              </div>
              <div class="col-8">
                  {{ form_widget(form.city, {'attr': {'class':'ville'} }) }}
              </div>
            </div>
          </div>
          <div class="col-5">
            <div class="form-group row">
              <div class="col-2">
                  {{ form_label(form.country, " Pays ") }}
              </div>
              <div class="col-8" id="some-custom-id">
                  {{ form_widget(form.country) }}
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="form-group row">
              <div class="col-4">
                  {{ form_label(form.postalCode, " Code Postal ") }}
              </div>
              <div class="col-5">
                  {{ form_widget(form.postalCode, {'attr': {'class':'postalCode'} }) }}
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-1">
            {{  form_label(form.message) }}
          </div>
          <div class="col-10">
            {{ form_widget(form.message) }}
          </div>
        </div>

        <div class="form-group row justify-content-center">
          <div class="col-8  .offset-2">
            {{ form_widget(form.check) }}
          </div>
          <div class="col-2">
            {{  form_label(form.check, "Acceptez les conditions confidentielles") }}
          </div>
        </div>

      <div class="row justify-content-center mt-3">
        <div class="col-2">
            {{ form_widget(form.save, { 'label': 'Valider' }) }}
        </div>
      </div>
    {{ form_end(form) }}
  </div>

{% endblock %}
