<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content=" Oriane NJILIE">
        <meta name="description" content="Mini restaurant de Oriane en ligne">

        <title>{% block title %}Restaurant !{% endblock %}</title>

        <link rel="shortcut icon" href="{{ asset('images/iconOriane.ico') }}" type="image/x-icon">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" type="text/css">

        {% block stylesheets %}{% endblock %}
    </head>
    <body style="padding-bottom: 100px; position: relative;">
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="padding: 0px 2rem;">
        <a class="navbar-brand" href="{{ path('home_page')}}" style="font-size: 2em">Naow</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link {% if current_admin is defined and current_admin == 'admin'%}active{% endif%}" href="{{ path('login') }}">Admin</a>
            </li>
          </ul>
          <div class="my-4 my-lg-0 navbar navbar-dark">
          {% if app.user and current_admin is defined and current_admin == 'admin' %}
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="{{ path('logout') }}">Se déconnecter</a>
              </li>
            </ul>
          {% endif %}
          </div>
      </nav>
        {% block body %}{% endblock %}

        {% block footer %}
            <footer class="bg-primary text-white" style="  position: fixed;left: 0;right: 0;bottom: 0;padding: 2px 2rem;">
                <div class="container">
                    <div class="row">
                        <div id="footer-copyright" class="col-md-8">
                            <p>&copy; {{ 'now'|date('Y') }} -  Contact & Conseils | 06 xx xx xx xx ou <a href="mailto:toto@gmail.com" class="text-white" >toto@gmail.com</a></p>
                        </div>
                        <div id="footer-resources" class="col-md-4">
                            <p>
                                <a href="https://twitter.com/symfony" title="Symfony Twitter" class="text-white pr-3">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                                <a href="https://www.facebook.com/SensioLabs" title="SensioLabs Facebook" class="text-white pr-3">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>
                                <a href="https://symfony.com/blog/" title="Symfony Blog" class="text-white pr-3">
                                    <i class="fa fa-rss" aria-hidden="true"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </footer>
        {% endblock %}

        {% block javascripts %}{% endblock %}
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>
