{% extends "base.html.twig" %}

{% block title %}{{ menu.name }}{% endblock %}

{% block body %}

<h1 class="text-center m-4 text-success" style="text-shadow: 5px 5px 5px orange">Détails: {{menu.name}}</h1>
<div class="container">
  <div class="card">
    <div class="row flex">
      <div class="col-7">
        <img src="{{ asset('images/'~ menu.brochureMenu)}}" class="card-img-top" alt="Photo du menu">
      </div>
      <div class="col-5">
        <div class="card-body">
          <h1>{{ menu.name }}</h1><hr>
          <p  class="text-primary" style="font-weight: bold; font-size: 2rem">{{ menu.price }} €</p><hr>
          <p>{{ menu.description }}</p>
          <p><a href="#" class="btn btn-success my-2">Ajouter au panier</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
